/Unity Project/Library
/Unity Project/Temp

/Unity Project/Assembly-CSharp-firstpass.csproj
/Unity Project/Assembly-CSharp-firstpass-vs.csproj
/Unity Project/Assembly-CSharp-vs.csproj
/Unity Project/Unity Project.sln
/Unity Project/Unity Project.userprefs
/Unity Project/Unity Project.v12.suo
/Unity Project/Unity Project-csharp.sln
/Unity Project/Assembly-CSharp.csproj
/Unity Project/Assembly-CSharp.pidb
/Unity Project/Assembly-CSharp-Editor.csproj
/Unity Project/Assembly-CSharp-Editor.pidb
/Unity Project/Assembly-CSharp-Editor-vs.csproj
Unity Project/obj/Debug/Assembly-CSharp-Editor-vs.csproj.FileListAbsolute.txt
Unity Project/obj/Debug/Assembly-CSharp-Editor-vs.csprojResolveAssemblyReference.cache
Unity Project/obj/Debug/Assembly-CSharp-firstpass-vs.csproj.FileListAbsolute.txt
Unity Project/obj/Debug/Assembly-CSharp-firstpass-vs.csprojResolveAssemblyReference.cache
Unity Project/obj/Debug/Assembly-CSharp-firstpass.dll
Unity Project/obj/Debug/Assembly-CSharp-firstpass.pdb
Unity Project/obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
Unity Project/obj/Debug/Assembly-CSharp-vs.csprojResolveAssemblyReference.cache
